.single-graph {
  .back {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    .back-button {
      color: black;
      font-size: x-large;
      padding-left: 20px;
    }
  }
  .graph-text {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2px;
    text-align: center;
  }
  h3 {
    margin: 0;
    padding: 10px 10px;
  }
  .single-graph-container {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    justify-content: center;

    width: auto;
    gap: 20px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      align-items: center;
      padding: 0 10%;

      gap: 20px;
      font-size: x-small;
      column-gap: 20px;
    }

    .table {
      border: 2px solid black;
      padding: 10px;
    }
    table {
      width: 100%;
      thead {
        tr {
          border: 2px solid black;
        }
      }
      tbody {
        tr {
          td {
            border: 2px solid black;
            margin: 5px;
          }
        }
      }
    }
    .chart {
      border: 2px solid black;
      column-span: all;
      p {
        padding: 10px 10px;
      }
      .chart-data {
        column-span: all;
        width: 80%;

        @media (max-width: 768px) {
          width: 80%;
        }
      }
    }
  }
  .company-details {
    padding: 0 5%;
  }
}
