@import "../veriables";
@import "../mixin";

.signup-container {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;

  justify-content: center;
  overflow: hidden;

  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
  @media (max-width: 320px) {
  }

  .signup-left-container {
    @include flx-c();
    padding: 10% 0;
    border: 2px solid black;
    @media (max-width: 768px) {
      padding: 20% 0;
    }

    .uper-text {
      @include flx-c();
      text-align: start;
      padding: 0 10%;
      justify-content: center;
      align-items: start;
      @media (max-width: 768px) {
        padding: 0 5%;
      }
      .lorem {
        @media (max-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          align-items: start;
        }
      }
      h3 {
        font-size: medium;
        text-align: start;
      }

      .header-txt {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        text-align: start;
        h1 {
          @media (max-width: 768px) {
            font-size: x-large;
          }
        }

        img {
          width: 45%;
        }
      }
    }
    .signin-email {
      margin: 0 10%;
      padding: 2%;
      color: black;
      text-decoration: none;
      border: 2px solid;
      @media (max-width: 768px) {
        padding: 0 5%;
      }

      form {
        @include flx-c();

        width: 100%;
        justify-content: start;
        text-align: start;
        gap: 20px;
      }
      .email {
        @include flx-c();
        label {
          padding: 5px 5px;
        }
        input {
          @include width();
          text-align: start;
        }
      }
      .password {
        @include flx-c();
        label {
          padding: 5px 5px;
        }
        input {
          @include width();
          text-align: start;
        }
      }
      .signin-btn {
        @include flx-c();

        button {
          @include width();
          margin-top: 20px;
          cursor: pointer;
          &:hover {
            background-color: $primary-color;
            color: white;
            border: 2px solid white;
          }
        }
      }
      .remember-forgot {
        .remember-me {
          cursor: pointer;
          input {
            cursor: pointer;
          }
          label {
            cursor: pointer;
          }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        p {
          color: $primary-color;
        }
      }
    }
  }
}
.login-sso {
  @include flx-c();
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid black;

  margin: 5% 10%;
  @media (max-width: 768px) {
    gap: 10px;
  }

  .signin {
    width: 95%;
    text-decoration: none;
    color: inherit;
    @media (max-width: 768px) {
      width: 90%;
    }
    h3:visited {
      color: black;
    }

    cursor: pointer;
    h3 {
      @include width();
    }
  }
}

.backarrow-login {
  font-size: x-large;
  cursor: pointer;
  text-align: end;
}
.signup-right-container {
  @include flx-c();
  padding: 10% 0;
  background: #fff;
  @media (max-width: 768px) {
    display: none;
  }
  h2 {
    background: #fff;
  }
  p {
    background: #fff;
  }
  .left-text {
    @include flx-c();
    text-align: start;
    padding: 0 10%;
    background: #fff;
  }
  .left-image {
    text-align: start;
    padding: 0 10%;
    @include flx-c();
    background: #fff;

    img {
      padding: 10%;
      background: #fff;
    }
  }
}

.cross-button {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: x-large;
}
