@import "../mixin";
@import "../veriables";
.signup-container {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;

  justify-content: center;
  overflow: hidden;

  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
  .signup-left-container {
    @include flx-c();
    padding: 10% 0;
    border: 1px solid $text-light;

    @media (max-width: 768px) {
    }
    .uper-text {
      @include flx-c();
      text-align: start;
      padding: 0 10%;
      justify-content: center;
      align-items: start;
      // color: transparent;
      background-color: transparent;
      @media (max-width: 768px) {
        padding: 0 5%;
      }
      .header-txt {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        text-align: start;
        h1 {
          @media (max-width: 768px) {
            font-size: x-large;
          }
        }
        img {
          width: 45%;
        }
      }
      .lorem {
        color: $text-light;
        // font-size: small;
        @media (max-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          align-items: start;
          color: $text-light;
        }
      }
      h3 {
        font-size: medium;
        text-align: start;
      }
      p {
      }
    }
    .cards-login {
      .login-sso {
        @include flx-c();
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: 1px solid $text-light;

        margin: 0 10%;
        height: 450px;
        @media (max-width: 768px) {
          gap: 5px;
          margin: 0 5%;
        }
        .signin {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 95%;
          text-decoration: none;
          color: inherit;
          // padding: 5px 0px;
          gap: 10px;
          border: 1px solid $text-light;
          margin: 20px;
          margin-bottom: 8px;

          &:hover {
            background: rgb(231, 230, 230);
          }
          @media (max-width: 768px) {
            width: 95%;
          }

          button {
            width: 100%;
            border: 0;
            padding: 20px 0;
            font-weight: bolder;
            font-size: larger;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }
          cursor: pointer;
          h3 {
            width: 170px;
          }
          &:hover button {
            background: rgb(231, 230, 230);
          }
          &:hover .sso-icon {
            background: rgb(231, 230, 230);
          }
        }
      }
    }
    .signin-email {
      margin: 0 10%;
      padding: 0 2%;
      color: black;
      text-decoration: none;
      border: 1px solid $text-light;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 768px) {
        margin: 0 5%;
      }
      .cross-button {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: x-large;
        .backarrow-login {
          font-size: x-large;
          cursor: pointer;
          text-align: end;
        }
      }
      form {
        @include flx-c();

        width: 100%;
        justify-content: start;
        text-align: start;
        gap: 20px;
        .email {
          @include flx-c();
          label {
            padding: 5px 5px;
          }
          input {
            @include width();
            text-align: start;
          }
        }
        .password {
          @include flx-c();
          label {
            padding: 5px 5px;
          }
          input {
            @include width();
            text-align: start;
          }
        }
        .signin-btn {
          @include flx-c();
          button {
            @include width();
            margin-top: 20px;
            cursor: pointer;
            &:hover {
              background-color: $primary-color;
              color: white;
            }
          }
        }
      }
      .remember-forgot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .remember-me {
          cursor: pointer;
          input {
            cursor: pointer;
          }
          label {
            cursor: pointer;
          }
        }
        p {
          color: $primary-color;
        }
      }
    }
  }
}
.signup-right-container {
  @include flx-c();
  padding: 10% 0;
  background: #fff;
  @media (max-width: 768px) {
    display: none;
  }
  .left-text {
    @include flx-c();
    text-align: start;
    padding: 0 10%;
    background: #fff;
    p {
      color: $text-light;
    }
    h2 {
      background: #fff;
    }
  }
  .left-image {
    text-align: start;
    padding: 0 10%;
    @include flx-c();
    background: #fff;
    img {
      padding: 10%;
      background: #fff;
    }
  }
}
