@import "../veriables";

.main-myProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 5%;
  .myprofile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    .profile-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0;
      h1 {
        font-size: 130px;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 80px;
          margin-top: 10px;
        }
      }
      p {
        margin: 0;
        font-size: large;
      }
    }
    .profile-grid {
      margin: 50px 0;
      display: grid;

      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: auto;
        margin: 20px 0;
      }

      .profile-picture {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          aspect-ratio: 1/1;
          width: 300px;
          object-fit: cover;
          border-radius: 100%;
        }
        .edit-profile {
          position: absolute;
        }
      }

      .profile-details {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        gap: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
          0 6px 10px 0 rgba(0, 0, 0, 0.02);
        padding: 0 10px;
        h3 {
          margin: 0;
          padding: 20px 20px;
        }
        .details {
          display: flex;
          // gap: 10px;
          align-items: center;
          justify-content: start;
          width: 100%;

          //   flex-direction: column;
          .details-headers {
            padding: 0 20px;
          }
        }
      }
    }
    .profile-aboutme {
      display: flex;
      flex-direction: column;
      text-align: start;
      align-items: start;
      justify-content: start;
      width: 100%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.02);
      h3 {
        padding: 0 20px;
      }
      p {
        padding: 0 20px;
      }
    }
  }
}

.edit {
  font-size: x-large;
  cursor: pointer;
}

.upload-picture {
  display: flex;
  flex-direction: column;

  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 2, 0.72);
  // filter: blur(8px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.02);
  .picture-upload-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    img {
      width: 200px;
      aspect-ratio: 1/1;
      border-radius: 100%;
    }
    .inputs-upload {
      display: flex;
      flex-direction: column;
      // padding: 20px;
      width: 100%;
      gap: 10px;
      input {
      }
    }
  }
}

.close-upload {
  padding: 2%;
  color: red;
  font-size: x-large;
  text-align: end;
}
.background-blur {
  display: flex;
  width: 100%;
  background-color: black;
  position: absolute;
}
.card-upload {
  width: 50%;
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  // text-align: start;
}
