@import "../veriables";
@import "../mixin";
.main-nav {
  overflow: hidden;
}
nav {
  background-color: $primary-color;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 100;

  .logo-img {
    background-color: $primary-color;
    @media (max-width: 768px) {
      width: 150px;
    }
  }

  .search-nav {
    width: 35%;
    display: flex;
    height: 35px;
    border-radius: 5px;

    input {
      width: 100%;
      background: #fff;
      outline: none;
      font-size: larger;
      border: 0;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    @media (max-width: 768px) {
      display: none; // Hide the container on smaller screens
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: xx-large;
    color: #fff;
    background-color: $primary-color;

    .hamburger {
      display: none;
      width: 40px;
      height: 40px;
      cursor: pointer; // Hide the hamburger icon by default

      @media (max-width: 768px) {
        display: block; // Show the hamburger icon on smaller screens
      }
      .cross {
        width: 40px;
        height: 40px;
      }
      .larg-profile {
        width: 100%;
        height: auto;
        position: absolute;
        top: 60px;
        right: -10px;
        padding-left: 20px;
      }
      .profileMenu {
        width: 100%;
        height: auto;
        position: absolute;
        top: 60px;
        right: -10px;
        padding-left: 20px;
        background-color: #fff;
        z-index: 100;

        animation: slideIn 0.3s ease forwards;
        @keyframes slideIn {
          from {
            right: -300px;
          }
          to {
            right: -10px;
          }
        }
      }
      .icons {
        @include icons;
        @include profile-icon;
        background-color: #fff;
      }
      .profile-info {
        @include profile-icon;
        background-color: #fff;

        .profile-img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          object-fit: cover;
          border: 2px solid $primary-color;
          background-color: #fff;
        }
        .profile-data {
          background-color: #fff;
          .h5-small {
            margin: 0;
            font-size: medium;
            background-color: #fff;
          }
          .p-small {
            margin: 0;
            font-size: small;
            color: $text-light;
            background-color: #fff;
          }
        }
      }
    }
    .larg-menu {
      background-color: $primary-color;
      width: 40px;
      height: 40px;
      cursor: pointer;
      @media (max-width: 768px) {
        display: none; // Show the hamburger icon on smaller screens
      }
    }
    .profilechange {
      @media (max-width: 768px) {
        display: none; // Show the hamburger icon on smaller screens
      }
    }

    .notification {
      background-color: $primary-color;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .notification-bar {
      background-color: $primary-color;
      width: 40px;
      height: 40px;
    }
  }
}

.display-menu {
  position: absolute;
  top: 60px;
  width: 200px;
  right: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  z-index: 100;

  p {
    font-size: small;
  }
  @media (max-width: 768px) {
    display: none; // Show the hamburger icon on smaller screens
  }
  .main-lg {
    padding-left: 10px;
    background: #fff;
    .text-name {
      margin: 0;
      padding: 0;
    }
    .lg-pro {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      height: 50px;
      border-bottom: 2px solid $text-light;
      background-color: #fff;
      .img {
        width: 30px;
        height: 30px;
        background-color: #fff;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
          border: 2px solid $primary-color;
        }
      }
      .pro-txt {
        margin: 0;
        padding: 0;
        gap: 0;
        background-color: #fff;
        h5 {
          margin: 0;
          background-color: #fff;
        }
        p {
          margin: 0;
          font-size: small;
          color: $text-light;
          background-color: #fff;
        }
      }
    }
    .icons-lg {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 20px;
      border-bottom: 2px solid $text-light;
      color: $text-light;
      background-color: #fff;
      cursor: pointer;
      p {
        color: black;
        background-color: #fff;
      }
      .profile-icons-lg {
        width: 30px;
        height: 30px;
        background-color: #fff;
      }
      .large-icon {
        border-bottom: 0px;
      }
    }
  }
}
