@import "./veriables";
* {
  font-family: "Roboto", sans-serif;
  background-color: $bg-light;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: green;
}
.inactive {
  color: red;
}

a {
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
  outline-width: 0px;
  border-bottom: none;
}

th {
  cursor: pointer;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  // margin: 0;
}
li {
  list-style: none;
  text-decoration: none;
}
